.lead {
  display: flex;
  min-width: 320px;
  color: white;
  flex-direction: column;
  align-items: center;
}

@media screen and (min-width: 1280px) {
  .lead {
    padding-top: 58px;
    max-width: 984px;
    margin: 0 auto 92px;
  }
}
