.lead__image-place {
	margin: 0;
}
@media screen and (min-width: 1024px) {
	.lead__image-place {
		max-width: calc(100% - (2 * 48px));
		margin: auto;
	}
}
@media screen and (min-width: 1280px) {
	.lead__image-place {
		width: calc(100% - (2 * 148px));
	}
}
