.lead__subtitle {
  margin: 16px 0 0 0;
  max-width: calc(100% - (2 * 16px));
  font-style: normal;
  font-weight: normal;
  align-self: center;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .lead__subtitle {
    max-width: calc(100% - (2 * 74px));
    margin-top: 32px;
    font-size: 30px;
    line-height: 36px;
  }
}
@media screen and (min-width: 1024px) {
  .lead__subtitle {
    max-width: calc(100% - (2 * 202px));
  }
}
@media screen and (min-width: 1280px) {
  .lead__subtitle {
    max-width: 620px;
    margin: 0 auto 64px;
  }
}
